:root {
  font-family: helvetica;
}

.drake-container {
  position: relative;
  background-color: palevioletred;
  height: 600px;
  width: 600px;
  overflow: hidden;
}

.drake {
  position: absolute;
  height: 100px;
  width: 100px;
}

.userDrake {
  border-radius: 100%;
}

.drake-wobble {
  animation: wobble 2s alternate infinite;
}

.drake-wiggle {
  animation: wiggle 1s alternate infinite;
}

.drake-v-wiggle {
  animation: vertical-wiggle 1.5s alternate infinite;
}

@keyframes wobble {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(-60deg);
  }
}

@keyframes wiggle {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(-10px);
  }
}

@keyframes vertical-wiggle {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

.button-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}

button {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border-radius: 50px;
  border: solid 2px palevioletred;
  margin: 5px;
}

.page-container {
  width: 600px;
  margin: 0 auto;
}
